@font-face {
    font-family: square;
    src: url(../TTOctosquares-Black.otf);
  }

  @font-face {
    font-family: source;
    src: url(../SourceCodeVariable-Roman.otf);
  }

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width: 80%;
    margin: 0 auto;
}
.nav img{
    width: 150px;
}

.first{
    background-image: url(../images/bg-top.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;

    height:100vh;
}

.first h1{
    font-family: square;
    font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 61px;
/* identical to box height */


color: #000000;
}

.first_title{
    text-align: center;
    padding-top:25vh;
}

.downloadBtn{

    width: 100%;
    background: linear-gradient(90deg, #A0DFBF 0%, #EC9EB6 24.7%, #EB9AE8 44.25%, #5EE6F4 67.13%, #BCB6E9 89.53%, #FFE922 100%);
    border: 1px solid #000000;
    border-radius: 13px;

    padding:8px 0;
    margin: 30px 0;

    font-family: square;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;

    color: #000000;

    cursor:pointer;
    


}

.btn_div{
    width: 20%;
    margin: 0 auto;
}
.text{
    position: absolute;
    margin-left:10%;
    margin-top:10%;
}
.text h1,.section_2 h1{
    font-family:square;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */


    color: #000000;
    text-align: center;
    margin: 30px 0;
}

.text li,.about p{
    font-family:source;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;

    color: #000000;
}
.bg img{
  width: 100%; 
}

.section_2{
    padding:5% 0 0 0;
    
}

.section_2 ul{
    list-style-image:url("../images/li.png")
}

.section_2 li{
    margin: 20px 0;
}

.about{
    display: flex;
    justify-content: center;

    width: 80%;
    margin: 50px auto;
}

.about > div{
    width: 50%;
}

.about img{
    width: 80%;
}

.about_inner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.password{
    font-family:source;
    font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 38px;
text-align: center;
color: #000000;
}

footer{
    background-color: #CEF0FF;
    padding: 30px 0;
}
.footer_inner{
    width: 80%;
    margin: 0 auto;
}

.footer_inner p{
    font-family: source;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 38px;
/* identical to box height */


color: #2F3B40;
}

@media only screen and (max-width: 1200px) {
    .about p{
        font-size: 25px !important;
    }
    .about{
        display: block !important;
    }
.about > div{
    width: 100%;
}
.about img{
    width: 50%;
}
.about .img{
    text-align: center;
    margin: 30px 0;
}
.text{
    margin-top:0 ;
}

}

@media only screen and (max-width: 1000px) {
    .btn_div{
        width: 30%;
    }
    .text{
        position: inherit;
        margin: 0;
    }
}

@media only screen and (max-width: 700px) {
    .btn_div{
        width: 40%;
    }
    .footer_inner p{
        font-size: 20px;
    }
    
}